.Cart {
    border-radius: 8px;
    border: 2px solid #00594c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 40%;
}

.CartContainer {
    padding: 10px;
}

.CartSearch {
    padding: 0px 10px 10px 10px;
}

.Separator {
    border: 1px solid #969696;
    width: 100%;
    margin: 10px 0px;
}

.CartTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.CartTotalText {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}

.CartTitle {
    margin: 30px 0px;
    text-align: center;
}

span {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0px;
}

@media screen and (max-width: 865px) {
    .Cart {
        justify-content: center;
        width: 100%;
    }
}
